<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some WebSite</title>
  </head>
  <body>
    {{> header}}
    <p> Helping MySelf</p>
    {{> footer}}
  </body>
</html>
