<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some WebSite</title>
  </head>
  <body>
  <h1> We Will be right back.</h1>
    <p> Site under maintanence . will be up and running soon.</p>
    {{> footer}}
  </body>
</html>
