<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some WebSite</title>
  </head>
  <body>
  {{> header}}
    <p>{{ screamIt welcomeMessage}}</p>
    <ul>
      <li><a href="#">Node Notes</a></li>
      <li><a href="#">Weather App</a></li>
      <li><a href="https://github.com/sanchithoza/node-web-server" target="_blank">Node-web-server</a></li>
    </ul>
  {{> footer}}
  </body>
</html>
